
    .svg{
        position: relative;
    }



    :root{
        --main-color: #757575;
        --accent-color: #2196F3;
        --dark-color: #212121;
        --white-colore: #FFFFFF;
        --secondary-colore: rgba(255, 255, 255, 0.6);
    }

    .visually-hidden {
        position: absolute !important;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0 !important;
        border: 0 !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden;
    }

    body{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--main-color)
    }

    


    img{
        display: block;
    }
   
    
    /* header*/
    .page-header{
        display: flex;
        justify-content: flex-end;
        align-items: center;

        border-bottom: 1px solid #ECECEC;
    }

    .navigation{
        display: flex;
        align-items: center;
        margin-right: auto;
    }



    .logo{
        font-family: Raleway;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;

        margin-top: 25px;
        margin-bottom: 25px;
    }

    .logo .blue{
        color: var(--accent-color);
    }

    .logo .black {
        color: var(--dark-color);
        margin-right: 85px;
    }

    .logo .white{
        color: var(--white-colore);
    }

    .list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .menu-list{
        display: flex; 
    }

    .menu-item:not(:last-child){
        margin-right: 50px;
    
    }

    .link, .post-link, .tel-link {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--dark-color);
        text-decoration: none;
    }

    .current{
        color: #2196F3;
    }
   
    .post-link{
        margin-right: 50px;
    }
    .tel-link, .post-link{
        color: var(--main-color);
    }
    .link:hover, .link:focus,
    .logo .black:hover, .logo .black:focus,
    .logo .white:hover, .logo .white:focus,
    .post-link:hover, .post-link:focus,
    .tel-link:hover, .tel-link:focus
    {
        color: var(--accent-color)
    }

    .contacts-icon{
        vertical-align: middle;
        margin-right: 10px;
        fill: #757575;
    }

    .contacts-icon:hover{
        fill: var(--accent-color);
    }

 /* main container*/

    .overlay{

        display: flex;
        max-width: 1600px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        outline: 1px solid black;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%),
        url(../images/Header\ img\ \(1\).jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .site{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        
    }

    .container, .page-header{
        width: 1170px;
        padding-left: 15px;
        padding-right: 15px;
        
        margin: auto;
    }

    .hero-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        color: var(--white-colore);

        margin-top: 0;
        margin-bottom: 30px;

    }

    .btn-item{
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.9;

        display: flex;
        letter-spacing: 0.06em;

        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;

        margin: auto;
        color: var(--white-colore);
        padding: 10px 32px;
    }

    .btn{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.6;

        display: flex;
        
        color: var(--dark-color);
        background: #F5F4FA;
        padding: 6px 22px;

        border-radius: 4px;
        border: 1px solid #F5F4FA;
    }

    .btn:hover, btn:focus{
        color: #FFFFFF;
        background-color: var(--accent-color);
        border: 1px solid #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    
    .button:not(:last-child){
        margin-right: 8px;
    }

    .btn-current{
        background: #2196F3;
        color: #FFFFFF;
        border: 1px solid #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    .flex-element{
        display: flex;
        flex-wrap: wrap;
    }
    
    .element{

        width: 370px;

        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    .element:not(:nth-child(3n)) {
        margin-right: 30px;

    }

    .element:not(:nth-last-child(-n+3)){
        margin-bottom: 30px;
    }

    .project-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color:var(--dark-color);

        display: block;

        margin: 20px 24px 0;
       
    }

    .project-item{
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.03em;
        color: var(--main-color);
        
       margin: 4px 24px 20px 24px;
    }

    /* container advatage*/

    .advatage{
        display: flex;
        padding-top: 94px;
    }

    .advatage-list:not(:last-child){
        margin-right: 30px;
    }

    .advatage-list::before{
        content: "";
        display: block;
        width: 270px;
        height: 120px;

        background-color:#F5F4FA;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
    }

    .antenna::before{
        background-image: url(../images/soc.logo/antenna\ 1.svg);
    }

    .clock::before{
        background-image: url(../images/soc.logo/clock\ 1.svg);
    }

    .diagram::before{
        background-image: url(../images/soc.logo/diagram\ 1.svg);
    }

    .astronaut::before{
        background-image: url(../images/soc.logo/astronaut\ 1.svg);
    }

    .section-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--dark-color);
    
        margin-top: 30px;
        margin-bottom: 10px;  
    }

    .description{
    
        margin-bottom: 0;
        margin-top: 0;
    }

    /* position*/

    .indent{
        padding-bottom: 94px;
        padding-top: 94px;
    }

    .position{
        display: flex;
        flex-wrap: wrap;
    }

    .position-list:not(:last-child){
        margin-right: 30px;
    }

    .title{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--white-colore);
        margin-bottom: 0;

    }

    /* section-team*/

    .section-team{
        background: #F5F4FA;
    }

    .main-title{
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        margin: 0;
        margin-bottom: 50px;
    }

    .team-list{
        display: flex;
    }

    .team-item:not(:last-child){
        margin-right: 30px;
    }

    .team-item{
        background: #FFFFFF;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;
    }

    .name{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--dark-color);
        
        margin-top: 30px;
        margin-bottom: 10px;

        text-align: center;
    }

    .profession{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--main-color);

        margin: 0;
        text-align: center;
    }

    .social-icons-list{
        display: flex;
        justify-content: center;
    }

    .social-icons-item:not(:last-child){
        margin-right: 10px;
    }

    .social-icons-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: var(--white-colore);
        border-radius: 50%;
        margin-top: 16px;
        margin-bottom: 30px;
        fill: #AFB1B8;

    }

    .social-icons-link:hover,
    .site-link:hover
    {
        fill: var(--white-colore);
        background: #2196F3;
    }

    /* section-companies*/
    .companies-list:not(:last-child){
        margin-right: 30px;
    }

    .social-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 90px;
        fill: #AFB1B8;

        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .social-link:hover
    {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
    
    /* footer*/
    .footer{
        background: #2F303A;

        display: flex;
        justify-content: space-between;
    }

    .box-container{
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 210px;
    }
    
    .address{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: #FFFFFF;

        margin-top: 20px;
    }

    .margin{
        margin-top: 10px;
        margin-bottom: 0;
    }

    .contact-item{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--secondary-colore);
        text-decoration: none;
    }
    
    .box-size-container{
        padding-top: 70px;
    }

    .box-size{
        padding-top: 70px;
        padding-right: 210px;
    }

    .site-item-list{
        display: flex;
    }

    .site-item{
        margin-top: 20px;
    }

     .site-item:not(:last-child){
         margin-right: 10px;
     }
  
     .site-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        fill: var(--white-colore);
    }

